{% extends "base.html" %}

{% block title %}Local Projects{% endblock %}
{% block header_text %}Local Projects{% endblock %}

{% block content %}

        {% for integer_value in integer_values %}
            <div class="container">
              <div class="row">
                  <div class="col-md-2"><label>{{ integer_value.attribute.token }}</label></div>
                  <div class="col-md-5"><output data-value-id='value-{{ integer_value.pk }}'>Value: {{ integer_value.value }}</output></div>
              </div>
            </div>
            <br />
        {% endfor %}
<div id="myDiv" style="width: 480px; height: 400px;">
</div>
{% endblock %}

{% block extra_body %}
    <script>
        $(function () {
            var ws_path =  "/stream/";
            console.log("Connecting to " + ws_path);

            var webSocketBridge = new channels.WebSocketBridge();
            webSocketBridge.connect(ws_path);
            webSocketBridge.listen();
            webSocketBridge.demultiplex('intval', function(payload, streamName) {
                // Handle different actions
                if (payload.action == "create") {
                    // Create the new integer value
                    var content = "<p data-value-id='" + payload.attribute + "'><label>" + payload.data.attribute.token + "</label> <output id='value-"+ payload.attribute +"'>"+"Value: " + payload.data.value + "</output>";
                } else if (payload.action == "update") {
                    console.log(payload);
                    $("p[data-value-id=" + payload.attribute + "] label").text(payload.data.attribute.token);
                    $("output[data-value-id='value-" + payload.pk + "']").text("Value: " + payload.data.value);
                } else if (payload.action == "delete") {
                    console.log(payload)
                    $("p[data-value-id=" + payload.pk + "]").remove();
                } else {
                    console.log("Unknown action " + payload.action);
                }
            });

            // Helpful debugging
            webSocketBridge.socket.addEventListener('open', function() { console.log("Connected to notification socket"); });
            webSocketBridge.socket.addEventListener('close', function() { console.log("Disconnected to notification socket"); });
        });
        var data = [{
          type: 'bar',
          x: [20, 14, 23],
          y: ['giraffes', 'orangutans', 'monkeys'],
          orientation: 'h'
        }];

        Plotly.newPlot('myDiv', data);
    </script>
{% endblock %}
